  <div id="divid">
    <h2>Men's Zone</h2>
     <div class="dropdown1">
      <a href="dropbtn1" routerLink="/">Mens Special</a>
      <div class="dropdown1-content1">
      <a href="#">Jeans</a>
      <a href="#">Shirt</a>
      </div>
      </div><br>
      <h2>Women's Zone</h2>
      <div class="dropdown1">
      <a href="dropbtn1">Womens Wear</a>
      <div class="dropdown1-content1">
      <a href="#">Saree</a>
      <a href="#">Tops</a>
      </div>
      </div>       
      <h2>Price</h2>
     <div class="dropdown1">
      <a href="dropbtn1" routerLink="/">choose price</a>
      <div class="dropdown1-content1">
      <a href="#">Below Rs.500</a>
      <a href="#">above Rs.500</a>
      </div>
      </div><br>
      <h2>Size</h2>
      <div class="dropdown1">
      <a href="dropbtn1">choose size</a>
      <div class="dropdown1-content1">
      <a href="#">Below 32</a>
      <a href="#">Above 32</a>
      </div>
      </div>   
</div>
